WKST limitation inquiry

Hi, very impressed by the library however I'm a little unsure how the WKST limitation will impact me.  I created a simple event on Google Calendar that repeats every week on Monday.  Here's the resulting rrule string:

"FREQ=WEEKLY;WKST=SU;BYDAY=MO"

Considering your default WKST is always Monday, will the library be able to parse that rrule accurately?  

Thanks again for the great work!

Samuel


Currently, this library only supports Monday as the start of the week. An exception is thrown when encountering a different value while decoding an RRULE string.

The `WKST` property influences how weeks are counted. In your example, I think that the `WKST=SU` could be dropped without changing the meaning. However, that's not possible if, e.g., `BYWEEKNO` is specified, so I can't guarantee that all RRULE strings generated by Google Calendar will work when dropping the `WKST` part. From [RFC 5545 Section 3.3.10.](https://datatracker.ietf.org/doc/html/rfc5545#section-3.3.10):

> The WKST rule part specifies the day on which the workweek starts. Valid values are MO, TU, WE, TH, FR, SA, and SU.  This is significant when a WEEKLY "RRULE" has an interval greater than 1, and a BYDAY rule part is specified.  This is also significant when in a YEARLY "RRULE" when a BYWEEKNO rule part is specified.  The default value is MO.

Hello @JonasWanke

What about this issue, do use suppose to add WKST parameter supporting in the future?

Your package is the best one for flutter users who need to use rrule, but without this parameter, integration with outlook/google calendar comes becomes a real problem. 
I think many users will find support of WKST parameter really helpful.

Thank you

any update for this @JonasWanke, i have an issue when using Japan Calendar and WKST is "SU", and got an error.
Plz help me!!!
Do you know any patch or commit support for other WKST value?

Looking forward to these changes too!